import firebase from 'firebase'
import 'firebase/firestore'

// firebase init goes here
// https://console.firebase.google.com/u/0/project/frourav2/settings/general/
const config = {
    apiKey: "",
    authDomain: "",
    databaseURL: "",
    projectId: "",
    storageBucket: "",
    messagingSenderId: ""
}
firebase.initializeApp(config)
firebase.auth().useDeviceLanguage()

// firebase utils
const db = firebase.firestore()
const auth = firebase.auth()

// date issue fix according to firebase
const settings = {
    timestampsInSnapshots: true
}
db.settings(settings)

export {
    db,
    auth
}